
<div class="alert alert-success custom-alert" [ngClass]="{'alert-hidden': !showAlert, 'alert-show': showAlert}" role="alert">
  Has agregado una noticia.
</div>

<div class="text-center mb-3">
  <button class="btn btn-info mt-3 shadow" (click)="showForm = !showForm">Nueva noticia</button>
</div>

<div *ngIf="showForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mb-2">
        <label for="titulo">Título</label>
        <input class="form-control" [ngClass]="{'is-invalid': validations.title}" type="text" name="titulo" id="titulo" [(ngModel)]="newEntry.title">
        <div class="text-danger small" *ngIf="validations.title">
          Introduce el título
        </div>
      </div>
      <div class="mb-2">
        <label for="image">Imagen</label>
        <input class="form-control" [ngClass]="{'is-invalid': validations.image}" type="file" name="imagen" id="imagen" [(ngModel)]="newEntry.image">
        <div class="text-danger small" *ngIf="validations.image">
          Introduce la imagen
        </div>
      </div>
      <div class="mb-2">
        <label for="date">Fecha</label>
        <input class="form-control" [ngClass]="{'is-invalid': validations.date}" type="date" name="date" id="date" [(ngModel)]="newEntry.date">
        <div class="text-danger small" *ngIf="validations.date">
          Introduce la fecha
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <label for="text">Texto</label>
      <textarea class="form-control" [ngClass]="{'is-invalid': validations.text}" name="text" id="text" cols="20" rows="6" [(ngModel)]="newEntry.text"></textarea>
      <div class="text-danger small" *ngIf="validations.text">
        Introduce el texto
      </div>
    </div>
  </div>
  <button class="btn btn-info shadow mt-2" (click)="addEntry()">Añadir</button>
</div>
